<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, JS!</h1>
    <p class="lead">Functional programming </br>
    into the next web app with Angular Fullstack</p>
    <img src="assets/images/nodejs.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    
    <div class="col-lg-12">
      <h3 class="page-header">JS with <label class="heart"></label> </h3> 
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">Operations</div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="checkbox">
                          <input type="radio" name="chickenEgg" value="chicken" ng-model="operation.type">
                          <label>Summarize</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="checkbox">
                          <input type="radio" name="chickenEgg" value="egg" ng-model="operation.type">
                          <label>Multiply</label>
                        </div>
                      </li>
                      <li class="list-group-item">
                          <div class="checkbox">
                              <button type="button" ng-click="performCalculation()" class="btn btn-primary">Calculate</button>
                          </div>
                        </li>
                  </div>
       </ul>
       </div>
       </div>
       </div>
       
         
    </div>
    <div class="col-lg-8">
        <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">Argument</div>
            <div class="panel-body">
                <div class="form-group">
                    <input ng-model="argumentOperation" type="text" class="form-control" id="usr">
                  </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Result</div>
            <div class="panel-body">
                <h2 ng-class="resultOperation.isValid ? 'label-success' : 'label-danger'" class="label ">{{resultOperation.value}}</h2>
            </div>
        </div>
        </div>
    </div>
    
  
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
